.header__container {
    background-color: #3A3A3A;
    font-size: calc(10px + 2vmin);
    font-weight: 800;
    color: white;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}
@media all and (min-width:768px) {
    .header__container {
        height: 16vh;
    }
}
  